body {
    background-image: url("starry_night.gif");
    color: antiquewhite;
    font-size: 18px;
}

h1 {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 72px;
    color: blue;
    text-underline: blueviolet;
    text-align: center;
    text-decoration: underline;
}

h3 {
    color: blueviolet;
    font-family: Impact, sans-serif;
}

img {
    display: block;
    margin: auto;
    border: 10px solid;
    border-radius: 8px;
}

.selfieImg {
    height: 20em;
    width: 20em;
    border-color: blue;
}

.fishyimg {
    height: 20em;
    width: 20em;
    border-color: teal;
}

.squirrel {
    height: 20em;
    width: 20em;
}

p {
    text-align: left;
    color: darkslateblue;
    font-size: large;
}